.button {
    font-weight: 300;
    display: inline;
}

.select {
    color: black;
    background-color: white;
}
.input {
    background-color: white;
}
.searchFood--header {
    margin-top: 30px;
    background-color: white;
}
.selectList {
    margin-bottom: 30px;
}
h5 {
    display: inline;
}