* {
    text-align: center;
    background-color: rgb(161, 242, 160);
}

.form--login {
    display: flex;
    flex-flow:column;
}

.login-fieldset {
    align-self: center;
}

button {
    font-weight: 300;
    background-color: white;
}